<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.gigForMe.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Error pages - https://stackoverflow.com/questions/7066192/how-to-specify-the-default-error-page-in-web-xml-->
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/error401.html</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/error403.html</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/error404.html</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/error500.html</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/error503.html</location>
    </error-page>
    <servlet>
        <servlet-name>FanBandsServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.ServeFanBandsPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FanBandDetailedServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.ServeFanBandDetailedPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.GetCommentsForThisBand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUsersAJAXServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.GetAllUsersAJAXServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeEditUserPage</servlet-name>
        <servlet-class>com.gigForMe.Servlets.ServeEditUserPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllBandsAJAXServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.GetAllBandsAJAXServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.ServeDashboardPage</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeEditBandPage</servlet-name>
        <servlet-class>com.gigForMe.Servlets.ServeEditBandPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeAdminProfile</servlet-name>
        <servlet-class>com.gigForMe.Servlets.ServeAdminProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentOnBand</servlet-name>
        <servlet-class>com.gigForMe.Servlets.CommentOnBand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBandServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.DeleteBandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBandServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.EditBandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBandServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.AddBandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeFanHomePage</servlet-name>
        <servlet-class>com.gigForMe.Servlets.ServeFanHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.gigForMe.Servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FanBandsServlet</servlet-name>
        <url-pattern>/FanBandsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FanBandDetailedServlet</servlet-name>
        <url-pattern>/FanBandDetailedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUsersAJAXServlet</servlet-name>
        <url-pattern>/GetAllUsersAJAXServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetAllBandsAJAXServlet</servlet-name>
        <url-pattern>/GetAllBandsAJAXServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeEditBandPage</servlet-name>
        <url-pattern>/ServeEditBandPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeEditUserPage</servlet-name>
        <url-pattern>/ServeEditUserPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeAdminProfile</servlet-name>
        <url-pattern>/ServeAdminProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentOnBand</servlet-name>
        <url-pattern>/CommentOnBand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBandServlet</servlet-name>
        <url-pattern>/DeleteBandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBandServlet</servlet-name>
        <url-pattern>/EditBandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBandServlet</servlet-name>
        <url-pattern>/AddBandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeFanHomePage</servlet-name>
        <url-pattern>/ServeFanHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
